[Unit]
Description=motion daemon
After=syslog.target network.target auditd.service

[Service]
ExecStart=/usr/bin/motion -n -c /etc/motion/motion.conf

[Install]
WantedBy=multi-user.target
