[Unit]
Description=xen-init-dom0
Requires=xenstored.service proc-xen.mount
After=xenstored.service proc-xen.mount
ConditionPathExists=/proc/xen/capabilities

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=-/etc/sysconfig/xencommons
ExecStartPre=/bin/grep -q control_d /proc/xen/capabilities
ExecStart=/usr/lib/xen/bin/xen-init-dom0 $XEN_DOM0_UUID

[Install]
WantedBy=multi-user.target
